@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&family=Roboto:wght@100;700&display=swap');

:root {
    --primaryFont: 'Open Sans', sans-serif;
    --secondaryFont: 'Roboto', sans-serif;
    --primaryColor: #f8f8f8;
    --secondaryColor: #e5e5e5;
    --heavyColor: #c4c4c4;
}

body {
    font-family: var(--primaryFont);
}
header nav,
header h1 {
    font-family: var(--secondaryFont);
}
header, header .jumbotron {
    color: #000;
    background-color: var(--primaryColor);
}
header h1 {
    letter-spacing: 7px;
    font-weight: 700;
}
header .jumbotron button {
    color: inherit;
    background-color: var(--secondaryColor);
    font-size: 12px;
    letter-spacing: -1px;
}
header .jumbotron p {
    max-width: 700px;
}