@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
    --primaryColor: #f8f8f8;
    --secondaryColor: #e5e5e5;
    --heavyColor: #c4c4c4;
}
body {
    font-family: 'Roboto', sans-serif;
}
.section_heading {
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 17px;
}
/* HEADER */
header, header .jumbotron {
    color: #000;
    background-color: var(--primaryColor);
}
header h1 {
    letter-spacing: 7px;
}
header .jumbotron button {
    color: inherit;
    background-color: var(--secondaryColor);
    font-size: 12px;
    letter-spacing: -1px;
}
header .jumbotron p {
    max-width: 700px;
}
/* LOCATIONS */
#locations {
    height: 280px;
}
#locations .row + .row {
    letter-spacing: 5px;
    font-size: 14px;
}